<!doctype html>
<html>
<head>
<title> FORM</title>
</head>
<body ng-app="app" ng-controller="Ctrl">
  <br>
<hr>
<h1>FORM EXAMPLE</h1>
<table = "table table-hover">
<tr>
<th>Name</th>
<td><input type="text" name="name" ng-model="formModel.name" required="name" placeholder="inter your name">
</td>
</tr>

<tr>
<th>Salary</th>
<td><input type="text" name="salay" ng-model="formModel.salary" repuired="salary" placeholder="inter your salary"</td>
  </tr>

<tr>
<th>total</th>
<td><input type="text" name= "tatal" ng-model="formModel.total" required="tatal" placeholder="inter the total in come"</td>
  </tr><br>

</table>
<button type="button" name="button">submit</button>
<hr>




</body>

</html>
